#homecontainer{
    margin-top: 10px;
}
#search {
    width: 100%;
    border-radius: 45px;
    padding: .375rem 1.2rem;
}
#searchclear {
    position: absolute;
    left: 3px;
    top: -5px;
    bottom: 0;
    height: 15px;
    width: 15px;
    margin: auto;
    font-size: 15px;
    cursor: pointer;
    color: #6c757d;
}

.parentcard{
    margin-top:10px;
    margin-bottom:30px;
}

#searchErrorInline{
    color:rgba(255, 0, 55, 0.527);
}
.title{
    color:black;
    font-weight: bold;
    font-size: 22px;
}